*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 100vh;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.btnCreate {
  background-color: #2e3d85!important;
  color: #fff!important;
}

