.btn-wrapper{
    display: flex;
}

h1 {
    font-size: 40px;
    font-family: monospace;
    text-transform: uppercase;
}
.col-6-left-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;

}

.col-6-left-box .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boy {
    max-width: 100%;
    object-fit: cover;
}